html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}
#home h2 {
    font-family:"Sofia", sans-serif;
}

#bio h2{ 
    font-family:"Aclonica", sans-serif;
}

#portfolio h2{ 
    font-family:"Akronim", sans-serif;
}

/* create additional rules below:  */